body {
	background-color: lightgray;
 	font-family: arial;
}

#canvasContainer canvas {
  	border: 3px solid #bbb;
  	position: relative;
  	left: 0;
  	float: left;
  	background-color: white;
}

#parameterTable thead {
	font-family: verdana;
	font-size: 24px;
}

#parameterTable td {
	padding: 5px;
}